@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d9db3;
    border: solid 0.2px #333;
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

.login-page {
    width: 100%;
    padding: 3% 0 0 0;
}

form {
    width: 100%;
}

.form {
    background: #f7f7f7;
    width: 400px;
    display: flex;
    margin: 0 auto 100px;
    padding: 15px 30px 15px 30px;
    border: solid 0.2px #333;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h4 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #3d9db3;
}

input[type=text],
input[type=password] {
    background: #f2f2f2;
    width: 100%;
    border: solid 0.2px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.logado {
    float: left;
}

#btnEnviar {
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    background-color: #3d9db3;
    padding: 7px;
}

#btnEnviar:hover {
    background-color: #333;
}

.conta {
    margin-top: 10px;
    background-color: #bcbcbc;
    border-radius: 5px;
    width: 100%;
    float: right
}

.conta2 {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
    margin-right: 20px;
}

.btn2 {
    border: solid 0.2px orange;
    border-radius: 5px;
    color: #3d9db3;
    font-weight: bolder;
    padding: 0.1px;
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 2.8vh;
    background-color: #f7f7f7;
}

.btn2:hover {
    background-color: #333;
}